<div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'"
  [class.mat-elevation-z4]="(stickyHeader$ | async)">
  <mat-toolbar color="primary" class="main-header">
    <ng-container>

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
        <!-- <img [src]="logo" /> -->
      </span>
      <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
        <!-- <img [src]="logo" /> -->
      </span>
      <span routerLink="" class="branding spacer d-none d-md-inline">
        <!-- <img [src]="logo" /> -->
      </span>

      <span class="main-header__content-left">
        <button mat-icon-button (click)="toggleSideMenu()">

        </button>

        <button mat-icon-button class="d-md-none" (click)="toggleSideMenu()">
          <fa-icon icon="bars"></fa-icon>
        </button>

        <a [routerLink]="['/']">
          <!-- <img src="/src/assets/images/aston-villa-logo.svg" alt="Logo" class="logo">
          <img src="/src/assets/images/aston-villa-logo.svg" alt="Logo" class="logo"> -->
        </a>
      </span>

      <span class="main-header__content-mid">

        <div>

        </div>

      </span>

      <!-- <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li> -->

      <span class="main-header__content-right">

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            Hello
          </button>
        </mat-menu>

      </span>

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
          <!-- <img [src]="logo" /> -->
      </span>
    </ng-container>
  </mat-toolbar>
</div>
