<!-- <div class="toolbar"> -->
  <mat-toolbar color="primary" class="main-header">
    <ng-container>

      <span class="main-header__content-left">
        <button mat-button (click)="toggleSideMenu()">

        </button>

        <button mat-icon-button class="d-md-none">
          <fa-icon icon="bars"></fa-icon>
        </button>

        <a [routerLink]="['/']">
          <img src="" alt="Logo">
        </a>

        <button>
          Mathis
        </button>
      </span>

      <span class="main-header__content-mid">

        <div>

        </div>

      </span>

      <span class="main-header__content-right">

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            Hello
          </button>
        </mat-menu>

      </span>

      <span routerLink="" class="branding spacer center d-inline d-sm-none">
          <!-- <img [src]="logo" /> -->
      </span>
    </ng-container>
  </mat-toolbar>
<!-- </div> -->
