$black-100-color: #000000;
$black-90-color: #141414;
$black-80-color: #1E1E1F;
$black-70-color: #2A2A2B;
$black-60-color: #343436;
$black-50-color: #39393B;
$black-40-color: #464648;
$black-30-color: #515151;
$black-20-color: #6A6A6E;
$black-10-color: #EDEDED;

$white-100-color: #FFFFFF;
$white-95-color: #EBEBEB;
$white-90-color: #C1C1C7;
$white-80-color: #949599;
$white-70-color: #C2C2C3;
$white-50-color: #898989;
$white-20-color: #505052;

$success-color: #AACD87;
$warning-color: #FFEB9B;
$error-color: #E63C37;

$yellow-light-color: #FFEB9B;
$yellow-black-color: #FFB900;
$ice-yellow-color: #FFCD00;

$black-text-color: #1A1A1A;
$black-link-hover-background-color: #C0C0C0;

$yellow-color: #FFEB9B;
$orange-color: #F48C53;
$purple-color: #8D4693;
$green-color: #3AAF82;
$blue-color: #668CF9;
$red-color: #E63C37;
$apricot-peach-color: #F9C5A9;
$alto: #DDDDDD;
$gray: #8C8C8C;
$pale-slate: #CAC9CA;
$outer-space: #323639;
$abbey: #525659;
$marine-color: rgba(102, 140, 249, 0.2);

$success-border-color: $green-color;
$warning-border-color: $orange-color;
$warning-background-color: $apricot-peach-color;

$checkbox-color: $green-color;
$disabled-text-color: $white-80-color;

$button-disabled-font-color: $gray;
$button-disabled-color: $alto;

$menu-border: #E9E9E9;